discord.py==1.7.3
jishaku==2.3.2
git+https://github.com/Rapptz/discord-ext-menus@309c70222eec33acacb8c21bbb0fbe9bc57de661
Babel==2.9.1
python-dotenv==0.19.2
rich==11.1.0
psutil==5.9.0
motor==2.5.1
dnspython==2.1.0

# These are already installed as dependencies, but let's keep it here.
aiohttp==3.7.4.post0
humanize==3.13.1

