discord.py
git+https://github.com/Gorialis/jishaku
git+https://github.com/Rapptz/discord-ext-menus
Babel
python-dotenv
rich
psutil
motor
dnspython

# These are already installed as dependencies, but let's keep it here.
aiohttp
humanize