discord.py==1.7.3
jishaku==2.5.0
git+https://github.com/Rapptz/discord-ext-menus@309c70222eec33acacb8c21bbb0fbe9bc57de661
Babel==2.10.2
python-dotenv==0.20.0
rich==12.4.4
psutil==5.9.1
motor==3.0.0
dnspython==2.2.1

# These are already installed as dependencies, but let's keep it here.
aiohttp==3.7.4.post0
humanize==4.1.0

